@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.profile_img{
  width: 60px;
  height: 60px;
}

img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.banner {
  margin-bottom: 60px;
  height: 90vh;
  width: 100%;
  background: url('https://i.ibb.co.com/hJRkvp7y/banner.png');
  background-size: contain;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 6%;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background: "linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.4) 45%, rgba(0,0,0,0.1) 100%)";
}

.content {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 1rem;
  color: #d1d5db;
  margin-bottom: 28px;
  max-width: 480px;
}

.auction_heading{
  font-family: "Sora", sans-serif;
  color: #fff;
}

.auction_itemsImg{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#auction{
  margin-bottom: 25px;
}





